// Font stacks
$futura-medium: "FuturaBT-Book", Arial, sans-serif;

$futura-bold-oblique: "FuturaBT-BoldItalic", 'Arial Black', Arial, sans-serif;

$mtv-pharma-bold-condensed: "MTV Pharma Bold Condensed", 'Arial Black', Helvetica, Arial, sans-serif;

// Colours
$colour-video-main: #aa96aa;
$colour-video-secondary: #959595;

$link-color: #00aef0;
$link-hover-color: #ed008c;

$breadcrumb: #8b738c;

$cyan: #28f0f0;

$light-grey: #dddddd;
$grey: #909090;
$dark-grey: #686868;

$bright-blue: #00aef0;
$blue: #3a3cff;

$deep-purple: #503d51;
$off-white-purple: #fcfcfb;
$off-purple: #f8f5f5;
$light-purple: #cfbecf;
$lighter-purple: #fff5ff;
$link-light-purple: #beaabe;
$pale-purple: #aa96aa;
$light-pale-purple: #f4edf4;
$purple: #513d52;
$dark-purple: #392b39;
$title-bg-purple: #978197;

$bright-yellow: #ffee00;
$yellow: #f0f028;
$pink: #f800ff;
$bright-pink: #ed008c;

$bright-green: #28f03c;
$green: #81d076;

$orange: #ff7200;

// $icon-sprite: 'icon-sprite.png';
// $logo-sprite: 'logo-sprite.png';
// $button-sprite: 'button-sprite.png';
// $titles-sprite: 'titles-sprite.png';
$dot-pattern: url(../images/backgrounds/dot-pattern.svg) repeat 0 0;


$icons-sprites: sprite-map("sprites/standard/icons/*.png", $spacing: 30px);   // import 1x sprites
$icons-sprites2x: sprite-map("sprites/retina/icons/*.png", $spacing: 60px);   // import 2x sprites

$logos-sprites: sprite-map("sprites/standard/logos/*.png", $spacing: 30px);   // import 1x sprites
$logos-sprites2x: sprite-map("sprites/retina/logos/*.png", $spacing: 60px);   // import 2x sprites

$titles-sprites: sprite-map("sprites/standard/titles/*.png", $spacing: 30px);   // import 1x sprites
$titles-sprites2x: sprite-map("sprites/retina/titles/*.png", $spacing: 60px);   // import 2x sprites

$nav-sprites: sprite-map("sprites/standard/nav/*.png", $spacing: 30px);   // import 1x sprites
$nav-sprites2x: sprite-map("sprites/retina/nav/*.png", $spacing: 60px);   // import 2x sprites
