// Default styling
.app-promo {
	margin: 0 0 30px;
	p,
	.title--on-grad {
		margin: 0;
	}
}

.app-promo-preview {
	margin: 0 0 13px;
	text-align: center;
}

.app-promo-title-pink {
	@include font-stack-futura-bold-oblique;
	@include font-size-em(20);
	color: $bright-pink;
	line-height: 1em;
	margin: 0 0 8px;
	display: inline-block;
}

.app-promo-small-text {
	@include font-size-em(12);
	color: $deep-purple;
	line-height: 1.2em;
}

.app-promo-download {
	@include vertical-gradient-two(#9e8eb0, #7c668f);
	@include font-size-em(12);
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	line-height: 1em;
	padding: 3px 14px 4px;
	text-align: center;
	&:hover {
		@include vertical-gradient-two(#7c668f, #9e8eb0);
		color: #fff;
	}
}

.app-promo-intro {
	@include font-stack-futura-bold-oblique;
	@include font-size-em(12);	
	color: $pale-purple;
	line-height: 1em;
}

.app-promo-highlighter {
	@include font-stack-futura-bold-oblique;
	@include font-size-em(18);	
	background: $deep-purple;
	color: #fff;
	line-height: 1.01em;
	padding: 3px 8px 2px;
}

.app-promo-text {
	@include font-stack-futura-bold-oblique;
	@include font-size-em(14);	
	color: $deep-purple;
	line-height: 1em;
}


// Rounded borders
.app-promo--rounded-borders {
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	.app-promo-inner {
		padding: 10px;
	}
}


// Popout preview image
.app-promo--popout {
	margin-top: 65px;
	p {
		margin: 0 0 8px;
	}
	.app-promo-preview {
		margin-top: -55px;
	}
	.app-promo-icon {
		float: right;
	}
	.title--on-grad {
		padding: 7px 10px;
	}
	.app-promo-small-text {
		margin: 12px 0 0;
	}
}


// Box style
.app-promo--box {
	.app-promo-inner {
		padding: 25px 10px 10px;
		position: relative;
	}
	.app-promo-preview {
		position: absolute;
		top: 15px;
		left: 10px;
	}
	.app-promo-icon {
		border-left: 15px solid #fff;
		float: right;
	}
	.title--on-grad {
		padding: 6px 0 4px 70px;
		margin: 0 0 10px 2px;
	}
	.app-promo-small-text {
		padding: 0 0 0 70px;
	}
}


// App stores links
.app-promo-store-links {
	@include clearfix;
	background: #e7e7e7;
	border-radius: 0 0 10px 10px;
	padding: 5px 3px 2px;
	ul {
		float: right;
		list-style-type: none;
		list-style-image: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			&:nth-child(3n+2),
			&.middle {
				margin: 0 3px;
			}
			a {
				@include font-size-em(11);
				line-height: 1.2em;
				color: $deep-purple;
				display: block;
				font-weight: bold;
				text-align: center;
			}
		}
	}
	.logo {
		margin-bottom: 5px;
	}
}


// App store logos
.logo-download-app-store {
	@include retina-sprite(logo-download-app-store, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
	display: block;
	width: 96px;
	height: 28px;
	margin-top: 4px;
}

.logo-android-google-play {
	@include retina-sprite(logo-android-google-play, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
	display: block;
	width: 96px;
	height: 32px;	
}

// Mobile
.app-promo--mobile {
	p {
		line-height: 1.29em;
	}
	.app-promo-icon {
		float: left;
		margin: 2px 10px 10px 0;
	}	
	.app-promo-text {
		@include font-size-em(16);
	}
}

// Mobile grey
.app-promo--mobile-grey {
	background: #e1e0e1;
	padding: 10px 15px 5px;
}

// Mobile transparent
.app-promo--mobile-trans {
	float: right;
}

// Mobile rounded
.app-promo--mobile-rounded {
	border: 1px solid #cccccc;
	border-radius: 10px;
	p {
		line-height: 1.5em;
		margin: 0 0 7px;
	}
	.app-promo-inner {
		padding: 8px 15px 7px;
	}
	.app-promo-icon {
		float: left;
		margin: 5px 10px 10px 0;
	}
	.app-promo-download {
		display: block;
	}
}




