.artist-header-nav {
	@include clearfix;
	position: relative;
	margin: 0 0 50px;
}

.artist-header-nav-thumb {
	position: absolute;
	top: 0;
	left: 0;
}

.artist-header-nav-title {
	@include font-stack-futura-bold-oblique;
	margin: 29px 0 10px;
	padding: 5px 15px 0px 170px;
	line-height: 1.2em;
	&,
	& a,
	&:visited {
		color: #fff;
	}
	@include font-size-em(26);
}