.wequest-branding-edit-branding {
  position: fixed;
  top: 0px;
  right: 125px;
  background: green;
  color: #fff;
  padding: 0px 9px;
  z-index: 9999;
  font-size: 10px;
  line-height: 2;
  text-transform:lowercase;
}
