.carousel--shows-landing {

  //@include column(8);
  width:392px;  
  height:410px;
  overflow:hidden;
  margin:20px 0;
  float:left;
    z-index:1;
    position:relative;
  h2 {
    @include blue-to-green-to-yellow-horizontal-gradient;
    @include font-size-em(24);
    display:inline-block;
    margin:0;
    padding:10px 15px 5px;
    color:#000;
    line-height:1.1;
    @include font-stack-futura-bold-oblique;
  }
  
  .carousel-items {
    li {
      height:350px;
    }
}

.carousel-thumbs {
  float:left;
}
  
  .carousel-item-image {
    position:relative;
    overflow:hidden;
    height:350px;
  }  
  .carousel-item-title {
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    p {
        @include horizontal-gradient-two(#2e1e2b, #4f3a4f);
        position:relative;
        z-index:8888;
        display:block;
        margin:0 6px 0 6px;
        margin:0px;
        padding:10px;  
        color:#fff;  
        line-height:1.3em;
       }
  }

}
