.carousel--shows-hub {
  @include column(12);
  position:relative;
  overflow:hidden;
    z-index:1;
  h2 {
   @include font-size-em(16);
    @include column(6);
    @include font-stack-futura-bold-oblique;
    display:block;
    margin:0;
    padding:5px 20px 0px;
    color:#fff;
    line-height:1.5;
  }

    .carousel-items {
    height:360px;

    li {
      width:644px;
      height:360px;
      oveflow:hidden;
      }
    }
  .carousel-item-image {
    position:relative;
    overflow:hidden;
    width:100%;
    img {
    	width:100%;
    }
    .wequest-video-player {
    	height: 350px;
    	div {
	  		height: 260px;
	  		padding: 10px 0 0;
	  	}
    }
  }

  .carousel-item-title {
    position:absolute;
    bottom:0px;
    left:0px;
    z-index:8888;
    display:table;
    width:100%;
    height:80px;
    background:rgba(0,0,0,0.8);
     a {
      color:#fff;
      &:hover {
         @include retina-sprite(icon-video-play-small);

        }
      }
     }


.carousel-item-title .carousel-item-title-inner {
    display:table-cell;
    vertical-align:middle;
    line-height:1;
  }

  .carousel-thumbs {
    position:absolute;
    right:5px;
    bottom:26px;
    z-index:9999;
  }
}
