.tune-in {
    float: right;
    width: auto;
    .logo-tune-in {
        @include svg-bkgd($icon-sprite);
        float: left;
        width: 65px;
        height: 40px;
        background-position:  -70px 0px;
    }
}

.hat {
    position: relative;
    float: left;
    width: 100%;
    .hat-logo {
        float: left;
        margin: 10px;
        width: 240px;
        height: 117px;
    }
}
.headline {
    @include font-size-em(16);
    position: relative;
    float: left;
    margin: 25px 0px 0px 20px;
    width: 35%;
    height: 94px;
    border-left: solid 2px #aa96aa;
    color: #503d51;
    font-family: $mtv-pharma-bold-condensed;
    p {
        position: absolute;
        bottom: 0px;
        margin: 0px 0px 0px 20px;
        padding: 0px;
    }
}


// Video Player Header;
.video-header {
  position: relative;
  float: left;
  margin: 10px 0px 0px;
  width: 100%;
  background: #1f1d1f;
  h1 {
    @include font-size-em(22);
    padding: 0px;
    color: #fff;
  }
}
.chart-header {
  margin-top: 15px;
  .gradient {
    @include horizontal-gradient-two(#3a3dff, #f800ff);
    position: absolute;
    top: -6px;
    width: 100%;
    height: 6px;
  }
  h1 {
    margin: 14px 0px 0px 25px;
    line-height: 1;
  }
  h2 {
    @include font-size-em(16);
    margin: 7px 0px 8px 25px;
    padding: 0px;
    color: #999;
    text-transform: uppercase;
    line-height: 1;
  }
  .chart-logo {
    position: absolute;
    top: 11px;
    right: 11px;
  }
  .header-copyright {
    @include font-size-em(10);
    position: absolute;
    top: -20px;
    right: 0px;
    color: #666;
    line-height: 1em;
  }
}
.list-header,
.artist-header {
  height: 75px;
  line-height: 75px;
  h1 {
    float: left;
    margin: 0px 25px;
    strong {
      color: #999;
    }
  }
  .logo-itunes {
    @include svg-bkgd($icon-sprite);
    float: left;
    margin: 22px 0px 0px;
    width: 80px;
    height: 30px;
    background-position:  -135px 0px;
  }
}

// Video Player;
.video-player {
  position: relative;
  float: left;
  width: 100%;
  background: #1f1d1f;
  .scroll-container {
    position: relative;
    overflow: hidden;
  }
  .scroll-pane {
    position: relative;
  }
  .scroll-content {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .slider-wrap {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    background-color: #1f1d1f;
  }
  .slider-vertical {
    position: relative;
    height: 100%;
  }
  .ui-slider-handle {
    position: absolute;
    display: block;
    margin: 0px auto;
    width: 20px;
    height: 10px;
    outline: none;
    background-color: #353235;
  }
  .ui-slider-handle img {
    border: none;
  }
  .scrollbar-top {
    position: absolute;
    top: 0px;
  }
  .scrollbar-bottom {
    position: absolute;
    bottom: 0px;
  }
  .scrollbar-grip {
    position: absolute;
    top: 50%;
    margin-top: -6px;
  }
  .ui-slider-range {
    position: absolute;
    width: 100%;
    background-color: #1f1d1f;
  }
  .wequest-video-player {
    position:relative;
    float: left;
    background: #000;
    &,
    & > div {
      width: 674px;
      height: 424px;
    }
    .video-player-endslate {
      position:absolute;
      bottom:44px;
      left:0px;
      overflow:hidden;
      margin: 0 4%;
      width:92%;
      height:210px;
      border-top: 1px dotted #404040;
      ul {
        margin-top:22px;
        width:100%;
      }
      li {
        a {
          float:left;
          width:154px;
          height:194px;
          .thumb {
            margin:7px;
            width:140px;
            height:105px;
            background:#333;
          }
          .title {
            @include video-title();
            margin:0;
            padding:3px 7px;
            color: $colour-video-main;
          }
          .artist {
            margin:0;
            padding:3px 7px;
          }
          &:hover {
            background:#1f1d1f;
            color:#fff !important;
          }
        }
      }
    }
  }
}
.video-wrapper {
  margin: 0 0 30px;
  .title {
    @include video-title();
    margin: 15px 0px 0px 12px;
  }
  .artist {
    @include video-artist();
    margin: 3px 0px 0px 12px;
  }
}
// Video List;
.video-list {
  float: left;
  ul {
    @include no-bullets;
  }
  li {
    @include vertical-gradient-two(#110e12, #1d151d);
    position: relative;
    padding: 0px 0px 0px 5px;
    height: 84px;
    color: $colour-video-main;
    a {
      display:block;
      float:left;
      height: 84px;
    }
    .number {
      @include font-size-em(41);
      float: left;
      color: $colour-video-main;
      font-family: arial black;
      line-height: 30px;
    }
    .thumb {
      position: relative;
      float: left;
      width: 72px;
      height: 54px;
      background: url(img/videos/thumb-placeholder.png);
      .icon-play {
        @include retina-sprite(icon-video-play-medium);
        position: absolute;
        right: 3px;
        bottom: 3px;
        width: 25px;
        height: 25px;
        background-position:-45px 0px;
      }
    }
    .position {
      position: absolute;
      width: 15px;
      background-position:
      height: 15px;
    }
    .position-up {
      @include retina-sprite(icon-video-position-up);
     }
    .position-down {
      @include retina-sprite(icon-video-position-up);
    }
    .position-flat {
      @include retina-sprite(icon-video-position-same);
    }
    .position-new {
      @include retina-sprite(icon-video-position-new);
    }
    .quicklist-add {
      @include retina-sprite(icon-playlist-add);
      position: absolute;
      right: 30px;
      bottom: 10px;
      width: 15px;
      height: 15px;
    }
  }
  li.active {
    @include horizontal-gradient-two(#544154, #130e13);
    color: #fff;
    .number {
      color: #fff;
    }
    .thumb {
      .icon-play {
        @include retina-sprite(icon-video-play-medium--hover);
      }
    }
    .position-up {
      @include retina-sprite(icon-video-position-up--hover);
     }
    .position-down {
      @include retina-sprite(icon-video-position-down--hover);
    }
    .position-flat {
      @include retina-sprite(icon-video-position-same--hover);
    }
    .position-new {
      @include retina-sprite(icon-video-position-new--hover);
    }
  }
}
.list-player.is-standard .video-list,
.chart-player.is-standard .video-list {
  width: 324px;
  height: 424px;
  li {
    float: left;
    border-bottom: 1px dotted #404040;
  }
  .number {
    margin: 15px 0px 0px;
  }
  .thumb {
    margin: 15px 0px 0px 5px;
  }
  .title {
    width: 150px;
  }
  .artist {
    width: 150px;
  }
  .position {
    position: absolute;
    top: 52px;
    left: 38px;
  }
}
.chart-player.is-expanded,
.list-player.is-expanded {
  .wequest-video-player {
    margin: 0px 10px;
    &,
    & > div {
      width: 978px;
      height: 544px;
    }
  }
  .video-list {
    position: relative;
    width: 100%;
    ul {
      width: 9999px;
    }
    li {
      float: left;
      width: 173px;
      border-right: 1px dotted #404040;
    }
    a {
      display:block;
      float:left;
      height: 142px;
    }
    .title {
      width: 150px;
    }
    .artist {
      width: 150px;
    }
    .number {
      margin: 15px 0px 12px 12px;
    }
    .thumb {
      margin: 15px 0px 0px 15px;
    }
    .position {
      position: absolute;
      top: 52px;
      left: 54px;
    }
    .quicklist-add {
      right: 15px;
      height:15px;
    }
    .item-list {
      float: left;
      overflow: hidden;
      margin-left: 52px;
      width: 920px;
      outline: none;
    }
    .prev,
    .next {
      position: absolute;
      top: 0px;
      width: 52px;
      height: 100%;
      background: #aa96aa;
      cursor: pointer;
      .prev-arrow,
      .next-arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -10px 0px 0px -5px;
        width: 10px;
        height: 20px;
        @include retina-sprite(icon-gallery-prev);
      }
      .next-arrow {
        @include retina-sprite(icon-gallery-next);
      }
    }
    .prev {
      left: 0px;
    }
    .next {
      right: 0px;
    }
    .prev.disabled,
    .next.disabled {
      background: #392b3a;
      cursor: default;
    }
  }
}

.list-player.is-expanded {
  .video-list {
    li {
      float: left;
      width: 218px;
      height: 90px;
      border-right: 1px dotted #404040;
    }
    .title {
      width: 115px;
    }
    .artist {
      width: 115px;
    }
    .thumb {
      margin: 10px 0px 0px 5px;
    }
  }
}

// Modal

.modal-mask {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.88);
}
.modal {
  position: absolute;
  left: 50%;
  display: none;
  margin-bottom:200px;
  .modal-close {
    @include retina-sprite(icon-modal-close, &hover:true);
    position: absolute;
    top: 3px;
    right: -11px;
    width: 25px;
    height: 25px;
    background-position:-45px -50px;
    cursor: pointer;
  }
}
.modal-video-list {
  top: 80px;
  z-index: 9999;
  margin-left: -322px;
  width: 644px;
  .video-header {
    background: #000;
  }
  .gradient{
    display:none;
  }
  .chart-header {
    h1 {
      margin:25px 0 0 25px;
    }
    h2 {
      margin:7px 0 25px 25px;
    }
    .header-copyright {
      top: 66px;
      right: 13px;
      color:#fff;
    }
  }

  .video-list {
    li {
      float: left;
      width: 100%;
      height: 84px;
      border-top: 1px dotted #404040;
      .title {
        @include video-title();
        margin:15px 0 0 25px;
        width: 450px;
      }
      .artist {
        @include video-artist();
        margin:5px 0 0 25px;
        width: 450px;
      }
      .thumb {
        margin: 15px 0px 0px 25px;
      }
      .number {
        margin: 15px 0px 12px 12px;
      }
      .position {
        position: absolute;
        top: 52px;
        left: 54px;
      }
    }
    .quicklist-add {
      right: 20px;
      bottom: 20px;
    }
  }
  .video-footer {
    background:#000;
      .video-nav {
        margin: 12px 7px 0px 0px;
      }
  }
}


// // Video Player Footer;
// .video-footer {
//     position: relative;
//     float: left;
//     width: 100%;
//     height: 50px;
//     background: #1f1d1f;
//     line-height: 50px;
//     .video-social {
//         @include font-stack-futura-bold-oblique;
//         float: left;
//         margin: 0px 0px 0px 20px;
//         color: #aa96aa;
//         @include font-size-em(16);
//     }
//     .video-nav {
//         float: right;
//         margin: 12px 17px 0px 0px;
//         ul {
//           @include no-bullets;
//           @include horizontal-list(3px);
//         }
//         a {
//             @include font-size-em(12);
//             position: relative;
//             display: block;
//             margin: 0;
//             padding: 0px 35px 0px 10px;
//             height: 26px;
//             border-radius: 3px;
//             background: #000;
//             text-decoration: none;
//             font-weight: bold;
//             line-height: 26px;
//             .icon-video-full {
//                 @include retina-sprite(icon-video-full-list);
//                 position: absolute;
//                 top: 5px;
//                 right: 8px;
//                 width: 15px;
//                 height: 15px;
//             }
//             .icon-video-add-all {
//                 @include svg-bkgd($icon-sprite);
//                 position: absolute;
//                 top: 5px;
//                 right: 8px;
//                 width: 15px;
//                 height: 15px;
//                 background-position: -30px 0px;
//             }
//         }
//         .video-full {
//             color: #aa96aa;
//             &:hover {
//                 background: #aa96aa;
//                 color: #000;
//                 .icon-video-full,
//                 .icon-video-enlarge {
//                     @include svg-bkgd($icon-sprite);
//                     background-position:-15px -75px;
//                 }
//             }
//         }
//         .video-enlarge {
//             color: #aa96aa;
//         }
//         .video-enlarge.is-active {
//             background: #aa96aa;
//             color: #000;
//             .icon-video-full,
//             .icon-video-enlarge {
//                 @include svg-bkgd($icon-sprite);
//                 background-position:-15px -60px;
//             }
//         }
//         .video-add-all {
//             color: #02f0ee;
//             &:hover {
//                 background: #02f0ee;
//                 color: #000;
//                 .icon-video-add-all {
//                     @include svg-bkgd($icon-sprite);
//                     background-position:-30px -45px;
//                 }
//             }
//         }
//     }
// }
.chart-hat-tune-in {
    position: relative;
    margin: 40px 10px 0px 0px;
    width: 212px;
    letter-spacing: -1px;
    font-family: $mtv-pharma-bold-condensed;
    .hat-channels {
        @include font-size-em(13);
        float: left;
        margin-left: 70px;
        width: 212px;
        color: #aa96aa;
        line-height: 1;
        li {
            float: left;
            margin: 0px 8px 0px 0px;
        }
    }
    .hat-date-time,
    .hat-message {
        @include horizontal-gradient-three(#fff200, #28f03c, #28f0f0);
        float: left;
        margin: 1px 0px 0px 5px;
        padding: 0px 0px 0px 2px;
        width: 140px;
        height: 18px;
        border-radius: 3px;
        line-height: 20px;
        @include font-size-em(15);
    }
    .hat-message {
        @include horizontal-gradient-two(#b19eb1, #ede9ed);
        margin-top: 3px;
        color: #fff;
    }
    .hat-speech {
        position: absolute;
        right: 115px;
        bottom: -9px;
        width: 0px;
        height: 0px;
        border-width: 9px 5px 0px;
        border-style: solid;
        border-color: #baa9ba transparent transparent transparent;
    }
}
