/* Quicktabs required styles */
.quicktabs-hide {
	display: none;
}

.quicktabs_main {
	clear: both;
}

/* Content tabs */
.content-tabs {
	clear: both; // Added for the search results page but may break the layout on others..
	ul.tabs,
	ul.quicktabs-tabs,
	ul.facetapi-facetapi-links,
	.pane-menu-menu-search-tabs ul.menu {
		@include clearfix;
		@include font-stack-futura-medium-uppercase;
		list-style-image: none;
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			list-style-type: none;
			list-style-image: none;
			a {
				display: block;
				position:relative;
			}
		}
	}
}

// Tabs inside content-list--purple need special layout
.content-tabs.content-list--purple {
	ul.tabs,
	ul.quicktabs-tabs,
	ul.facetapi-facetapi-links,
	.pane-menu-menu-search-tabs ul.menu {
		background: #fff; // remove the purple background from behind the tabs
		margin-top: -20px; // butt up against the pane title
		padding: 20px 0 10px; // create space around the tabs
	}	
}

// Purple
.content-tabs--purple {
	ul.tabs,
	ul.quicktabs-tabs,
	ul.facetapi-facetapi-links,
	.pane-menu-menu-search-tabs ul.menu {
		li {
			a {
				padding: 5px 10px 3px;
				border-radius: 3px;
				background: $deep-purple;
				color: #fff;
				&:hover {
					background: $pale-purple;
				}
			}
			&.is-active a,
			&.active a {
				background: $bright-yellow;
				color: #000;
			}
		}
	}
}
 
// Grey
.content-tabs--grey {
	ul.tabs,
	ul.quicktabs-tabs,
	ul.facetapi-facetapi-links,
	.pane-menu-menu-search-tabs ul.menu {
		li {
			a {
				padding: 4px 9px 3px;
				border-radius: 3px;
				color: #000;
				&:hover {
					background: $light-grey;
				}
			}
			&.is-active,
			&.active {
				//border-right: none;
			}
			&.is-active a,
			&.active a {
				background: $bright-yellow;
				color: #000;
			}
		}
	}
}

// Large
.content-tabs--large {
	ul.tabs,
	ul.quicktabs-tabs,
	ul.facetapi-facetapi-links,
	.pane-menu-menu-search-tabs ul.menu {
		@include font-size-em(16);
		margin: 0 0 5px;
		li {
			margin: 0 5px 0 0;
			padding: 0 0 10px;
			&.is-active a:before,
			&.active a:before {
	  	@include retina-sprite(icon-tab-yellow);
			content:'';
			width:10px;
			height:15px;
			position:absolute;
			top:28px;
			left:0px;
			}
		}
	}
}

// Medium
.content-tabs--medium {
	ul.tabs,
	ul.quicktabs-tabs,
	ul.facetapi-facetapi-links,
	.pane-menu-menu-search-tabs ul.menu {
		@include font-size-em(14);
		line-height: 1.2em;
		margin: 0 0 15px;
		li {
		margin: 0 5px 0 0;
			&.is-active a:before,
			&.is-active.first a:before,
			&.is-active:nth-of-type(1) a:before,
			&.active a:before,
			&.active.first a:before,
			&.active:nth-of-type(1) a:before {
	  	@include retina-sprite(icon-tab-yellow);
			content:'';
			width:10px;
			height:15px;
			position:absolute;
			bottom: -11px;
			left:0px;
	  	}
		}
	}
}

// Divider
.content-tabs--divider {
	ul.tabs,
	ul.quicktabs-tabs,
	ul.facetapi-facetapi-links,
	.pane-menu-menu-search-tabs ul.menu {
		li {
      @include retina-sprite(icon-tab-divider, $padV:5);
			margin: 0 2px 0 0;
			&.first,
			&:nth-of-type(1) {
				background: none;
				a {
					margin: 0;
				}
			}
			a {
				margin: 0 0 0 4px;
			}
			&.is-active a {
				//margin: 0;
			}
		}
	}
}

// Layout - float right
.content-tabs--l-right {
	ul.tabs,
	ul.quicktabs-tabs,
	ul.facetapi-facetapi-links,
	.pane-menu-menu-search-tabs ul.menu {
		float:right;
		margin-top:-45px;
	}	
}

// Layout - float right with larger pane title size
.content-tabs--l-right-large {
	ul.tabs,
	ul.quicktabs-tabs,
	ul.facetapi-facetapi-links,
	.pane-menu-menu-search-tabs ul.menu {
		float:right;
		margin-top:-61px;
	}	
}

/* Custom layout for tabs */

// Tabs on the dotted pattern bg - reposition above
.theme-dotted .content-list {
	overflow: inherit !important; // remove overflow: hidden thats added to columned layouts which stops the the tabs from displaying
	// ul.tabs,
	// ul.quicktabs-tabs {
	// 	position: absolute;
	// 	right: 0;
	// 	top: -50px;
	// 	margin: 0;
	// }	
}

/**
 * Apps quicktabs image replacements
 */
#quicktabs-mtv_apps {
	ul.quicktabs-tabs {
		li {			
			a {
				@include font-size-em(15);
				font-family: Arial, Helvetica, sans-serif;
				font-weight: normal;
				text-transform: none;
				display: block;
				height: 35px;
				padding-left: 50px;
				.qt-last-word {
					@include font-size-em(10);
					display: block;
					line-height: 1em;
				}
				.qt-replace {
					display: block;
					position: absolute;
					top: 5px;
					left: 12px;
					height: 32px;
					width: 30px;
				}
			}
			&.qt--iphone-apps {
				.qt-replace {
					@include retina-sprite(logo-market-iphone-white, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
				}
				&.active .qt-replace {
					@include retina-sprite(logo-market-iphone-black, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
				}
			}
			&.qt--ipad-apps {
				.qt-replace {
					@include retina-sprite(logo-market-ipad-white, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
				}
				&.active .qt-replace {
					@include retina-sprite(logo-market-ipad-black, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
				}
			}
			&.qt--android-apps {
				.qt-replace {
					@include retina-sprite(logo-market-android-white, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
				}
				&.active .qt-replace {
					@include retina-sprite(logo-market-android-black, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
				}
			}
			&.qt--windows-apps {
				.qt-replace {
					@include retina-sprite(logo-market-windows-white, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
				}
				&.active .qt-replace {
					@include retina-sprite(logo-market-windows-black, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
				}
			}
			&.qt--nokia-apps {
				.qt-replace {
					@include retina-sprite(logo-market-ovi-white, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
				}
				&.active .qt-replace {
					@include retina-sprite(logo-market-ovi-black, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
				}
			}
		}
	}
	article {
		min-height: 110px;
	}
}

.market-icon {
	padding-left: 50px;
	.icon-replace {
		display: block;
		position: absolute;
		top: 5px;
		left: 12px;
		height: 32px;
		width: 30px;	
	}
	&.market-icon--iphone-apps {
		.icon-replace {
			@include retina-sprite(logo-market-iphone-black, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
		}
		&.is-collapsed .icon-replace {
			@include retina-sprite(logo-market-iphone-white, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
		}
	}
	&.market-icon--ipad-apps {
		.icon-replace {
			@include retina-sprite(logo-market-ipad-black, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
		}
		&.is-collapsed .icon-replace {
			@include retina-sprite(logo-market-ipad-white, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
		}
	}
	&.market-icon--android-apps {
		.icon-replace {
			@include retina-sprite(logo-market-android-black, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
		}
		&.is-collapsed .icon-replace {
			@include retina-sprite(logo-market-android-white, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
		}
	}
	&.market-icon--windows-apps {
		.icon-replace {
			@include retina-sprite(logo-market-windows-black, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
		}
		&.is-collapsed .icon-replace {
			@include retina-sprite(logo-market-windows-white, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
		}
	}
	&.market-icon--nokia-apps {
		.icon-replace {
			@include retina-sprite(logo-market-ovi-black, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
		}
		&.is-collapsed .icon-replace {
			@include retina-sprite(logo-market-ovi-white, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
		}
	}
}




