.funnel {
	clear: both;
	float: left;
	margin: 0 0 1.5em;
	width: 100%;
	form {
		background: #f4f0f4;
		padding: 10px;
		.error {
			width: auto;
			background-image: none;
			padding: 5px 10px;
		}
		.questions {
			margin: 0;
			li {
				margin: 0 0 15px;
			}
		}
		.label {
			display: block;
			font-weight: bold;
			/*margin: 1.5em 0 0.3em;*/
			margin: 0 0 0.3em;
		}
		.text,
		.text:focus {
			background: #fff;
			border: 1px solid #CCCCCC;
			width: 50%;
		}
		.radio,
		.checkbox {
			margin: 0 8px 0 0;
		}
		.answers {
			.radio,
			.checkbox {
				margin: 0 8px 10px 0;
			}
			label {
				font-weight: normal;
			}
			li {
				margin: 0;
			}
		}
		label {
			display: inline;
		}
		.submit,
		.submit:hover {
			@include font-size-em(14);
			font-weight: normal;
			background: #000;
			border: none;
			border-radius: 3px;
			color: #fff;
			padding: 8px 35px 8px 40px;
			position: relative;
		}
		.submit-link {
			border: 1px solid lightgrey;
			border-radius: 3px;
			padding: 2px;
			cursor: pointer;	
			position: relative;	
			clear: both;
			display: inline-block;	
		}
		.submit-link-indicator {
			@include horizontal-gradient-three($bright-blue, $green, $bright-yellow);
			border-radius: 3px 0 0 3px;
			height: 32px;
			position: absolute;
			overflow: hidden;
			top: 2px;
			left: 2px;
			width: 28px;
			z-index: 10;
			&:before {
				content: "";
				position: absolute;
				top: -10px;
				right: -11px;
				background: #000;;
				height: 50%;
				width: 34px;
				transform: rotate(45deg);
			}
			&:after {
				content: "";
				position: absolute;
				bottom: -10px;
				right: -11px;
				background: #000;;
				height: 50%;
				width: 34px;
				transform: rotate(-45deg);
			}
		}
		.submit-link-arrow {
			@include retina-sprite(icon-arrow-blue-tiny-left);
			width: 10px;
			height: 10px;
			display: block;
			position: absolute;
			top: 15px;
			right: 10px;
		}
	}
}