.view-artist-a-to-z {
	clear: both;
}

.a-to-z {
	border-bottom: 1px dotted #000;
	clear: both;
	float: left;
	padding: 0 0 20px;
	margin: 0 0 20px 0;
	width: 100%;
	.view-header,
	.view-content {
		float: left;
	}
	.view-content {
		margin: 0 0 0 10px;
	}
	h2 {
		@include font-size-em(13);
		display: inline;
		margin: 0;
		text-transform: uppercase;
		color: $dark-purple;
		font-weight: normal;
	}
	.views-summary {
		@include font-size-em(11);
		font-weight: bold;
		float: left;
		margin: 0 0 0 1px;
		a {
			background: $dark-purple;
			color: #FFFFFF;
			display: block;
			line-height: 1em;
			padding: 4px 0;
			text-align: center;
			width: 19px;
			text-decoration: none;
			&:hover {
				background: $bright-yellow;
				color: #000;
			}
		}
		a.active {
			background: $bright-yellow;
			color: #000;  	
		}
	}
}