.mega-menu {
	float: left;
	padding: 0 10px 0 0;
	&:hover .mega-menu-title a,
	.is-active a {
		position: relative;
		background: #e4e4e4;
		color: #000; // Shows on top of the mega content so the shadow isn't displayed on the top of the content
		z-index: 999999; // Ensure this value is above the dropdown mega menu for the default theme so the shadow is hidden behind it
	}
}

.mega-menu-title {
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	font-family: $futura-medium;
	> a {
		display: block;
		padding: 7px;
		color: #fff;
		text-decoration: none;
	}
}

.mega-menu-content {
	margin: 0;
	.panel-separator {
  	margin: 0 0 1em 0;
  }
}

@mixin small-heading {
	@include font-size-em(12);
	margin: 0;
	color: #999999;
	text-transform: uppercase;	
}

.mega-menu-custom {
	color: #666666;
	h2 {
		@include small-heading;
	}
	ul,
	p {
		@include font-size-em(12);
		margin: 0;
		padding: 0;
		font-weight: bold;
	}
	ul {
		@include no-bullets;
	}
	a {
		color: #666666;
		text-decoration: none;
		&:hover {
			color: #00aef0;
		}
	}
	img {
		border: 1px solid #bdbdbd;
	}	
}

.mega-menu-content-title {
	@include small-heading;
	.mega-menu--news .mega-menu-custom & {
		margin: 0 0 10px;
	}
}

.mega-menu-menu ul {
	@include no-bullets;
	margin: 0;
	padding: 0;
	li {
		padding: 1px 0;
		border-bottom: 1px dotted #000;
	}
	a {
		display: block;
		padding: 2px 4px;
		color: #000;
		text-decoration: none;
		&:hover {
			background: #02f0ed;
		}
	}
}

.mega-menu-az {
	&,
	.mega-menu-custom & {
		margin: 9px 0 0;
		width: 140px;
		line-height: 1em;		
	}
	li {
		float: left;
		margin: 1px 1px 0 0;
	}
	a {
		display: block;
		padding: 4px 0;
		width: 19px;
		background: $grey;
		color: #fff;
		text-align: center;
		&:hover {
			background: $cyan;
			color: #000;
		}
	}
}



