// Modal
.modal-mask {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9000;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.88);
}

.modal {
  position: absolute;
  left: 50%;
  display: none;
  margin-bottom:200px;
}

.modal-close {
  @include retina-sprite(icon-modal-close, $hover: true);
  position: absolute;
  top: -5px;
  right: -11px;
  z-index:9999;
  width: 25px;
  height: 26px;
  cursor: pointer;
}