.nav--inline-arrowed {
	@include font-stack-futura-bold-oblique;
	@include font-size-em(16);
	padding: 0 0 0 170px;
	line-height: 1.1em;
	a {
		color: $deep-purple;
	}
	> ul {
		margin: 0;
		padding: 0;
		li {
			display: inline;
			float: left;
			margin: 0 0 0 8px;
			&.first {
				margin: 0;
			}
			a {
  			@include retina-sprite(icon-arrow-yellow-small-right);
				padding: 0 0 0 15px;
				&:hover {
  			@include retina-sprite(icon-arrow-pink-small-right);
					color: $bright-pink;
				}
			}
			&.first a {
				padding: 0; 
				background: none;
			}
		}
	}
}