.nav--inline-divider {
	@include font-size-em(12);
	color: #000;
	font-weight: bold;
	ul {
		margin: 0;
		padding: 0;
		li {
			display: inline;
			float: left;
			list-style-position: none;
			list-style-image: none;
			&.last {
				a {
					margin-right: 0;
					padding-right: 0;
					border-right: none;
				}
			}
			a {
				margin-right: 7px;
				padding-right: 5px;
				border-right: 1px solid #000;
				color: #000;
				&:hover {
					color: $bright-pink;
				}
			}
		}
	}
}