.return-top {
	background: #fff;
	text-align: center;
}

.return-top-link {
	@include font-size-em(11);
	display: inline-block;
	height: 35px;
	color: #503d51;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1em;
	&:hover .return-top-icon {
		background-color: #503D51;
	}
}

.return-top-icon {
  @include retina-sprite(icon-back-to-top, $padH: 9, $padV: 9);
	display: inline-block;
	margin: 0 10px -15px 7px;
	width: 36px;
	height: 35px;
	border-radius: 3px 3px 0 0;
	background-color: #aa96aa;
}