.show-summary {
	background: $deep-purple;
	clear: both;
	padding: 15px 20px;
	margin: 0 0 20px;
	p {
		@include font-size-em(14);
		color: #fff;
		margin: 0;
	}
}

.show-summary-title {
	@include palepurple-to-deeppurple-horizontal-gradient;
	@include font-stack-futura-bold-oblique;
	@include font-size-em(24);
	color: #fff;
	line-height: 1em;
	margin: 0 0 20px;
	padding: 10px 15px 4px;
}