.subpage-promo {
	max-width: 308px; // The width of the image
	margin: 0 0 30px;

	.type-tag {
		display:none;
	}
	
	a {
		background: #000;
		border-radius: 0 0 15px 15px;
		display: block;
		position: relative;
		padding: 44px 0 0;
		&:hover {
			background: $purple;
		}
		.content-list-img {
			@include horizontal-gradient-three($bright-pink, $orange, $bright-yellow);
			float: none;
			margin: 0;
			padding: 0 0 7px;
			img {
				width:100%;
			}
		}
		h2 {
			margin: 0;
			position: absolute;
			top: 0;
			width: 100%;
			background-color: $purple;
		}
		p {
			@include font-size-em(14);
			color: #fff;
			font-family: $futura-medium;
			letter-spacing: 1px;
			line-height: 1.3em;
			margin: 0;
			padding: 15px 70px 15px 25px;
			position: relative;
			text-transform: uppercase;
			&:after {
				@include retina-sprite(icon-arrow-blue-large-thin-right);
				content: " ";
				position: absolute;
				top: 50%;
				right: 0;
				width: 45px;
				height: 24px;
				margin: -12px 0 0;
			}
		} 
	}
}

.img-replace--gradient-shadow--charts {
	h2 {
  	@include retina-sprite(title-charts-small, $sprites: $titles-sprites, $sprites2x: $titles-sprites2x); 
	}
}

.img-replace--gradient-shadow--playlists {
	h2 {
  	@include retina-sprite(title-playlists-small, $sprites: $titles-sprites, $sprites2x: $titles-sprites2x, $padV:-1); 
	}
}

.img-replace--gradient-shadow--live-music {
	h2 {
  	@include retina-sprite(title-live-small, $sprites: $titles-sprites, $sprites2x: $titles-sprites2x); 
	}
}