.nav--list-controls {
	@include column-last(4);
	float: right;
	text-align: right;
	ul {
		float: right;
		margin: 0;
		padding: 0;
	}
	li {
		position: relative;
		display: inline;
		float: left;
	} 
}

.list-control {
	@include font-size-em(12);
	display: block;
	margin: 0 0 0 6px;
	padding: 0 35px 0 10px;
	height: 26px;
	border-radius: 3px;
	background: #000;
	text-decoration: none;
	font-weight: bold;
	line-height: 2.2em;
	.icon-list-full {
 	  @include retina-sprite(icon-video-full-list);
	  position: absolute;
	  top: 5px;
	  right: 15px;
	  width: 15px;
	  height: 15px;
	}
	.icon-list-add-all {
 	  @include retina-sprite(icon-playlist-add);
	  position: absolute;
	  top: 5px;
	  right: 9px;
	  width: 15px;
	  height: 15px;
	}
	&:hover {
		.icon-list-full {
 	  @include retina-sprite(icon-video-full-list--hover);
		}
		.icon-list-add-all {
 	  @include retina-sprite(icon-playlist-add--hover);
		}
	}
}

.list-control--purple {
	color: $colour-video-main;
	&:hover {
		background: $colour-video-main;
		color: #000;
	}
}

.list-control--blue {
	color: #02F0EE;
	&:hover {
		background: #02F0EE;
		color: #000;
	}
}

.nav--video-controls {
	position:absolute;
	bottom:-30px;
	left:0px;
	width:100%;
	display:none;
	ul {
		margin:0;
		padding: 0;
		text-align:center;
	}
	li {
		display: inline-block;
		float:none;
	}
}

.video-control {
	@include font-size-em(12);
	display: block;
	margin: 0 0 0 13px;
	padding: 0 0 0 28px;
	height: 30px;
	border-radius: 3px;
	background: #000;
	text-decoration: none;
	font-weight: bold;
	line-height: 30px;
	position:relative;
	color: $pale-purple;
	.icon-video-standard {
  	@include retina-sprite(icon-video-size-normal);
	  position: absolute;
	  top: 11px;
	  left: 5px; 
	  width: 12px;
	  height: 7px;
	}
	.icon-video-large {
  	@include retina-sprite(icon-video-size-large);
	  position: absolute;
	  top: 9px;
	  left: 0px;
	  width: 17px;
	  height: 11px;
	}
	&:hover {
		color:#fff;
		.icon-video-standard {
  		@include retina-sprite(icon-video-size-normal--hover);
		}
		.icon-video-large {
  		@include retina-sprite(icon-video-size-large--hover);
		}
	}
}

.video-control.is-active {
		color:#fff;
		.icon-video-standard {
  		@include retina-sprite(icon-video-size-normal--hover);
		}
		.icon-video-large {
  		@include retina-sprite(icon-video-size-large--hover);
		}
}
