// Artist playing

.artist-playing {
  @include row-marginless(8);
  .artist-playing-thumb {
    @include column-first(2, 8);
    img {
      margin-bottom: 15px;
    }
  }
  .artist-playing-info {
    @include column-last(6, 8);
    margin-bottom:10px;
  }
}

.artist-playing-title {
  @include font-size-em(22);
  margin: 0 0 19px;
}

.artist-playing-track {
  @include dotted-bottom-border(1px, #000);
  margin: 0;
  padding: 0 0 6px;
  color: $bright-blue;
}

// Similar artists

.similar-artists {
  @include row-full(6);
  .similar-artists-item {
    @include column-first(1, 5);
  }
  .link--lastfm {
    margin: 3px 0 0;
  }
}

.single-artist-playing {
  .similar-artists {
    .similar-artists-item {
      width:72px;
      margin: 0 0 0 24px;  
    }
    div article:first-child {
      margin:0;
    }  
  }
}

.similar-artists-title {
  @include font-size-em(13);
  @include font-stack-futura-bold-oblique;
  color: $deep-purple;
}

.similar-artists-item-title {
  @include font-size-em(11);
  margin: 0.7em 0;
  font-weight: normal;
  line-height: 1.2em;
}

a {
  & .similar-artists-item-title {
    display: block;
    color: #000;
  }
  &:hover .similar-artists-item-title {
    color: $bright-pink;
  }
}

.track-feat-in {
  @include font-size-em(16);
  @include font-stack-futura-bold-oblique;
  display: block;
  margin: 25px 0;
  background-color:#000;
  text-decoration: none;
  &:hover {
    background-color: $deep-purple;
  }
}

.track-feat-in-position {
  @include blue-to-green-to-yellow-horizontal-gradient;
  position: relative;
  display: inline-block;
  padding: 6px 12px 3px 8px;
  color: #000;
}

.track-feat-in-position:after {
  position: absolute;
  top: 0;
  right: -32px;
  width: 0;
  height: 0;
  border: 16px solid transparent;
  border-left-color: $bright-yellow;
  content: ' ';
}

.track-feat-in-name {
  display: inline-block;
  padding: 6px 8px 3px 35px;
  color: #fff;
}

.track-feat-in-arrow {
  @include retina-sprite(icon-arrow-blue-tiny-right);
  float:right;
  margin:11px 10px;
  width:10px;
  height:9px;
}

// Latest from Artist
.latest-from-artist {
  margin: 0 0 30px;
}

.latest-from-artist-thumb {
  margin: 0 0 0.7em;
}

.latest-from-artist-type {
  margin: 0 0 0.2em;
}

.latest-from-artist-title {
  @include font-size-em(16);
  margin: 0.071em 0 0.357em;
  line-height: 1.2em;
}

.latest-from-artist-item {
  @include column-first(1, 4);
  a {
    color: #000;
    & .latest-from-artist-title {
      color: #000;
      text-decoration: none;
    }
    &:hover .latest-from-artist-title {
      color: $bright-pink;
    }
    &:hover p {
      color: $deep-purple;
    }
  }
  p {
    @include font-size-em(12);
    margin: 0;
    line-height: 1.3em;
  }
}

// Playlist layout - top group TODO: break ut from this file
.playlist-top-group {
  margin: 0 0 25px;
}

.playlist-top-group-left {
  @include column-first(2, 7);
}

.playlist-top-group-middle {
  @include column(3, 7);
}

.playlist-top-group-right {
  @include column-last(2, 7);
  float: right;
}

// Playlist summary
.playlist-summary {
  @include font-size-em(16);
  position: relative;
  margin: 25px 0 0 5px;
  height: 88px;
  border-left: 2px solid #AA96AA;
  color: #503D51;
  letter-spacing: -0.03em;
  font-family: $mtv-pharma-bold-condensed;
  .playlist-summary-content {
    position: absolute;
    bottom: 0;
    padding: 0 0 0 20px; 
  }
}