.video-social {
  background:rgba(0,0,0,0.8);
  width:100%;
  position:absolute;
  top:0px;
  left:0px;
  z-index:111;
  display:none;
  color:#fff;
  padding: 7px 0 5px;
  line-height:1.5em;
  .video-social-inner {
   padding:0 15px;
  }
  .share {
    margin-left:8px;
  }
}

.wequest-video-player {
  .flux4 {
    @include font-size-em(14);
  a {
    @include font-size-em(14);
  }
  }
}
