// Video header
.video-header {
	@include box-sizing;
	position: relative;
	float: left;
	padding: 15px 20px 10px;
	width: 100%;
	background: #1F1D1F;
	hgroup {
		h1 {
			@include font-size-em(22);
			margin: 0;
			color: #fff;
			line-height: 1.3em;
		}
		h2 {
			@include font-size-em(14);
			margin: 0;
			color: #999;
			text-transform: uppercase;
			line-height: 1.2em;
		}
	}
}

.pane-subjectvideoplayer {
	.video-header {
		hgroup {
			display:table;
			width:100%;
			height:48px;
			}
		 	h1 {
		 	display:table-cell;
		 	vertical-align: middle;
		 	line-height: 1.4em;
			span {
			color:#999;
			}
			.link--download-itunes {
				display:inline-block;
				margin: 0 0 0 15px;
			}
		}
	}
}