.whats-on-now {
  display:inline-block;
  width: 300px;
  @include font-stack-mtv-pharma-bold-condensed;
  .logo-tune-in {
    @include retina-sprite(logo-mtv-black-large, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x); 
    float: left;
    width: 65px;
    height: 40px;
  }

  .whats-on-now-time {
    @include font-size-em(26);
    float:left;
    padding:9px 10px 0 6px;
  }
  .whats-on-now-message {
    @include horizontal-gradient-three(#fff200, #28f03c, #28f0f0);
    @include border-radius(3px);
    @include font-size-em(15);
    float: left;
    margin: 0px 0 0 5px;
    padding: 6px 0 3px;
    width: 230px;
    line-height: 15px;
  }
  .whats-on-now-title {
    @include border-radius(3px);
    @include horizontal-gradient-two(#f01593, #fed8ed);
    float:left;
    clear:right;
    margin: 3px 0 0 5px;
    padding: 2px 50px 0 10px;
    color: #fff;
    line-height:1.2;
    position:relative;
  }
  .whats-on-now-speech {
    position: absolute;
    left: 10px;
    bottom: -9px;
    width: 0;
    height: 0;
    border-width: 9px 5px 0;
    border-style: solid;
    border-color: #ef1796 transparent transparent transparent;
  }
  .whats-on-now-nav {
    float:right;
    .whats-on-now-nav--title {
      @include font-size-em(11);
      float:left;
      text-transform:uppercase;
    }
  }

  .whats-on-now-nav--prev, .whats-on-now-nav--next {
    float:left;
    width:15px;
    height:15px;
    text-indent:-9999px;
  }
}

