.carousel--mobile {

  //@include column(8);
  width:100%;  
  display:inline-block;
    z-index:1;
  h2 {
    @include blue-to-green-to-yellow-horizontal-gradient;
    @include font-size-em(20);
    float:left;
    margin:0;
    padding:5px 10px 5px;
    color:#000;
    line-height:1.1;
    @include font-stack-futura-bold-oblique;
    display:table;
  }
  
  .carousel-items {
    li {
      height:auto;
      img {
        width:100%;
        height:auto;
      }
    }
}

.carousel-item-title .carousel-item-title-inner {
    display:table-cell;
    vertical-align:middle;
    line-height:1;
  }

.carousel-thumbs {
  float:left;
  width:100%;
  ul {
    width:100%;
    text-align:center;
    margin:10px 0;
  }
  li {
    float:none;
    width:10px;
    display:inline-block;
    height:10px;
    background:$dark-grey;
   @include border-radius(10px);
    a {
      width:10px;
      height:10px;
      float:left;
    }
    .carousel-thumb-active {    
      display:none;
    }
  }
  .active {
      background:$bright-yellow;
    }
}
  
  .carousel-item-image {
    position:relative;
    width:100%;
  }  
  .carousel-item-title {
    float:left;
    width:100%;
    box-sizing:border-box;
    h2 {
      width:100%;
      box-sizing:border-box;
    }
    p {
        @include horizontal-gradient-two(#2e1e2b, #4f3a4f);
        position:relative;
        z-index:8888;
        display:block;
        float:left;
        margin:0 6px 0 6px;
        margin:0px;
        padding:10px;  
        color:#fff;  
        line-height:1.3em;
        box-sizing:border-box;
        width:100%;
       }
  }
}
