.carousel--gallery-landing {
  
  @include horizontal-gradient-two(#e7e6e6, #fcfbfc);
  @include column(12);  
    position:relative;
    padding:10px 0;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  margin:20px 0;
    z-index:1;
  h2 {
    @include blue-to-green-to-yellow-horizontal-gradient;
    @include font-size-em(24);
    float:left;
    margin:0;
    padding:10px 15px 5px; 
    color:#000;
    line-height:1.1;
    @include font-stack-futura-bold-oblique;
  } 
  
  .carousel-items {
    ul {
      width:100%;
      height:410px;
      overflow:hidden;
    }
    li {
      list-style:none;
      height:410px;
    }
}
  .carousel-gallery-images {
    position:absolute;
    top:0px;
    left:0px;
    z-index:1;
    overflow:hidden;
    margin:0 6px;
    width:224px;
    display:block;
    img {
      float:left;
      margin: 0 0 16px 4px;
      max-width:224px;
      width:224px;
      height:126px;
    }
  }
  .carousel-item-image {
    position:relative;
    z-index:9999;
    float:right;
    overflow:hidden;
    margin:0 10px;
    width:392px;
    height:350px;
    img {
      max-width: inherit;
      height: inherit;
    }
  }  
  .carousel-item-title {
    position:absolute;
    bottom:0px;
    left:0px;
        p {
        @include horizontal-gradient-two(#2e1e2b, #4f3a4f);
        position:relative;
        z-index:8888;
        display:block;
        float:right;
        margin:0 10px 0 6px;
        min-height:56px;
        width:372px;
        margin:0px;
        padding:10px;  
        color:#fff;  
        line-height:1.3em;
       }
  }
  .carousel-item-description {
    @include horizontal-gradient-two(#2e1e2b, #4f3a4f);
    position:relative;
    z-index:9999;
    display:block;
    float:right;
    margin:0 10px 0 6px;
    min-height:56px;
    width:392px;

  }
  
  .carousel-thumbs 
{
  position:absolute;
  right:-1px;
  bottom:10px;
  z-index:9999; 
    }
}
