.email-link {
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 2px;
	margin: 0 0 30px;
	a {
		background: #000;
		border-radius: 3px;
		color: #fff;
		display: block;
		padding: 8px 50px 8px 80px;
		position: relative;
	}
}

.email-link-icon {
	border-radius: 3px 0 0 3px;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 67px;
	&:before {
		content: "";
		position: absolute;
		top: -10px;
		right: -12px;
		background: #000;;
		height: 50%;
		width: 34px;
		transform: rotate(45deg);
	}
	&:after {
		content: "";
		position: absolute;
		bottom: -10px;
		right: -12px;
		background: #000;;
		height: 50%;
		width: 34px;
		transform: rotate(-45deg);
	}
}

.email-link-icon-spanner {
	@include retina-sprite(icon-spanner-black);
	height: 25px;
	width: 25px;
	position: absolute;
	top: 7px;
	left: 15px;
}

.email-link-arrow {
	@include retina-sprite(icon-arrow-blue-tiny-left);
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	top: 15px;
	right: 10px;
}