.pane-wequest-epg-channel-title {
  position:relative;
  h1 {
    @include font-stack-futura-bold-oblique;
    @include font-size-em(28);
    margin:10px 0;
    padding:0;
  }
  ul {
    font-family: $mtv-pharma-bold-condensed;
    position:absolute;
    top:5px;
    right:0px;
    @include horizontal-list;
    @include font-size-em(18);
      li {
      display:block;
      padding:0 0 0 20px;
    }
  }
}

.pane-wequest-epg-channels {
  margin-top:20px;
  ul {
    @include horizontal-list;
  li {
    padding: 0 0 20px 0;
    width:11%;
    a {
      width:67px;
      height:66px;
      text-indent:-5000px;
      display:block;
      margin:0 auto;
      }
    }
    .active, a:hover {
        background-color:#000;
        position:relative;
        @include border-radius(3px);
        &:before {
          @include triangle(down, #000, 8px);
          position:absolute;
          bottom:-8px;
          left:50%;
          margin-left:-8px;
          content:'';
        }

    }
  }
}
.pane-wequest-epg-days {
  @include font-stack-futura-medium-uppercase;
  width:100%;
  background:$deep-purple;
  color:#fff;
  .epg-day-date {
      @include font-size-em(22);
    display:block;
    width:100%;
  }
    ul {
      @include horizontal-list;
      width:100%;
      li {
        padding:0;
        width:14.28%;
        text-align:center;
        a {
          display:block;
          padding:25px 0 15px;
          border-top: solid 5px transparent;
          color:#fff;
          &:hover {
            border-top: solid 5px #000;
            background:#000;
          }
        }

        .is-active, .is-active:hover {
          position:relative;
          border-top:solid 5px $pale-purple;
          background: $bright-yellow;
          color:#000;
        &:before {
          @include triangle(down, $pale-purple, 5px);
          position:absolute;
          top:0px;
          left:50%;
          margin-left:-5px;
          content:'';
        }

        }
      }
  }
}
  .epg-current-date {
    @include font-stack-futura-medium-uppercase;
    @include font-size-em(20);
    margin:0px;
    padding:13px 0 10px 0;
    background: $bright-yellow;
    text-align:center;
    display:block;
    color:#000;
  }

.pane-wequest-epg-items {
  cursor:pointer;

  ul {
    margin:0;
    padding:0;
    list-style:none;
    li {
      border-bottom:dotted 1px #000;
      &:hover {
        background: $light-grey;
      }
      .epg-item-title {
        margin:7px 0 5px 0;
        display:inline-block;
        padding:0 5px 0;
        position:relative;
      }
      span {
        @include font-size-em(20);
        @include font-stack-futura-medium-uppercase;
        position:absolute;
        left:6px;
        top:6px;
      }
      h3 {
        font-family: $mtv-pharma-bold-condensed;
        @include font-size-em(16);
        padding:8px 10px 3px 70px;
        display:inline-block;
        margin:0;
      }
      p {
        display:none;
        padding:10px 15px 15px 15px;
        margin:0;
      }
    }
  }
  .is-active {
    background: $light-grey;
    p {
      display:block;
    }
  }
}

.logo-mtv a {
  @include retina-sprite(logo-epg-mtv, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:-3);
}
.logo-mtv a:hover, .logo-mtv .active, .pane-wequest-epg-channel-title .logo-mtv   {
  @include retina-sprite(logo-epg-mtv--hover, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:-3);
}
// Added to center image on mobile.
.touch .logo-mtv a   {
  @include retina-sprite(logo-epg-mtv--hover, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:5);
}

.logo-mtv-base a {
  @include retina-sprite(logo-epg-mtv-base, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}
.logo-mtv-base a:hover, .logo-mtv-base .active, .pane-wequest-epg-channel-title .logo-mtv-base, .touch .logo-mtv-base a  {
  @include retina-sprite(logo-epg-mtv-base--hover, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}

.logo-mtv-rocks a {
  @include retina-sprite(logo-epg-mtv-rocks, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}
.logo-mtv-rocks a:hover, .logo-mtv-rocks .active, .pane-wequest-epg-channel-title .logo-mtv-rocks, .touch .logo-mtv-rocks a {
  @include retina-sprite(logo-epg-mtv-rocks--hover, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}

.logo-mtv-dance a {
  @include retina-sprite(logo-epg-mtv-dance, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}
.logo-mtv-dance a:hover, .logo-mtv-dance .active, .pane-wequest-epg-channel-title .logo-mtv-dance, .touch .logo-mtv-dance a {
  @include retina-sprite(logo-epg-mtv-dance--hover, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}

.logo-mtv-live a {
  @include retina-sprite(logo-epg-mtv-live, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}
.logo-mtv-live a:hover, .logo-mtv-live .active, .pane-wequest-epg-channel-title .logo-mtv-live, .touch .logo-mtv-live a  {
  @include retina-sprite(logo-epg-mtv-live--hover, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}

.logo-mtv-classic a {
  @include retina-sprite(logo-epg-mtv-classic, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}
.logo-mtv-classic a:hover, .logo-mtv-classic .active, .pane-wequest-epg-channel-title .logo-mtv-classic, .touch .logo-mtv-classic a {
  @include retina-sprite(logo-epg-mtv-classic--hover, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}

.logo-vh1 a {
  @include retina-sprite(logo-epg-vh1, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}
.logo-vh1 a:hover, .logo-vh1 .active, .pane-wequest-epg-channel-title .logo-vh1, .touch .logo-vh1 a {
  @include retina-sprite(logo-epg-vh1--hover, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}

.logo-mtv-music a {
  @include retina-sprite(logo-epg-mtv-music, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}
.logo-mtv-music a:hover, .logo-mtv-music .active, .pane-wequest-epg-channel-title .logo-mtv-music, .touch .logo-mtv-music a {
  @include retina-sprite(logo-epg-mtv-music--hover, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}

.logo-mtv-hits a {
  @include retina-sprite(logo-epg-mtv-hits, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}
.logo-mtv-hits a:hover, .logo-mtv-hits .active, .pane-wequest-epg-channel-title .logo-mtv-hits, .touch .logo-mtv-hits a {
  @include retina-sprite(logo-epg-mtv-hits--hover, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}

.logo-mtv--1 a {
  @include retina-sprite(logo-epg-mtv-plus, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}
.logo-mtv--1 a:hover, .logo-mtv--1 .active, .pane-wequest-epg-channel-title .logo-mtv--1, .touch .logo-mtv--1 a {
  @include retina-sprite(logo-epg-mtv-plus--hover, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x, $padH:6, $padV:6);
}

// Inside show menu
.pane-showmenu {
	.pane-title {
		display: inline-block;
	}
	.epg-tune-in {
		float: right;
	}
	.tune-in {
		margin: 0 0 15px;
	}
}

