// Gradient bg mask
@mixin hor-gradient-bg-mask {
	.gradient-bg-mask {
		display: block;
		margin: 3px 0;
		background: #fff; // shows the gradient as a border
	}
}

@mixin vert-gradient-bg-mask {
	.gradient-bg-mask {
		display: block;
		margin: 0 3px;
		background: #fff; // shows the gradient as a border
	}
}

// Horizontal gradients
.pink-yellow-hor-gradient-bg {
	@include clearfix;
	@include hor-gradient-bg-mask;
	@include horizontal-gradient-two($bright-pink, $bright-yellow);
}

.blue-pink-hor-gradient-bg {
	@include clearfix;
	@include hor-gradient-bg-mask;
	@include horizontal-gradient-two($blue, $pink);
}