.interview {
	position: relative;
	margin: 20px 0 30px;
	.type-tag {
		display: none;
	}
	a {
		color: #000;
		display: block;
		.content-list-img {
			margin: 0;
		}
		h2 {
			@include font-stack-futura-bold-oblique;
			line-height: 1.2em;
			margin: 0 0 5px;
		}
		p {
			margin: 0 0 13px;
		}
	}
}

// Default
.interview--default {
	article {
		padding: 0 13px;
	}
	.tag-edge {
		position: absolute;
		top: 208px;
	}	
	a {
		.content-list-img {
			height: 260px; // Same height as the image
			margin: 0 -13px 15px;
			width:308px;
			img {
				width:308px;
			}
		}
		h2 {
			@include font-size-em(20);
			clear: both;
		}
		p {
			@include font-size-em(16);
			font-weight: bold;
		}
	}
}

// Two column - Image on the left
.interview--two-column {
	@include horizontal-gradient-three($purple, $purple, $light-purple);
	height: 232px; // Same height as the image
	.tag-edge {
		position: absolute;
		left: 270px; // Same as the width of the image
		top: 25px;
		.text {
			padding: 6px 126px 9px 30px;
			@include retina-sprite(title-zacbox, $sprites: $titles-sprites, $sprites2x: $titles-sprites2x, $padH: -145);
		}
	}
	a {
		color: #fff;
		.content-list-img {
			float: left;
			height: 232px; // Same height as the image
			margin: 0 30px 0 0;
		}
		h2 {
			@include font-size-em(20);
			padding: 95px 30px 0 0;
		}
		p {
			@include font-size-em(16);
			padding: 0 30px 0 0;
			font-weight: bold;
		}
	}
}

// Compact - Mobile
.interview--compact {
	background: $dark-purple;
	.tag-edge {
		position: absolute;
		top: -15px;
	}
	a {
		color: #fff;
		.content-list-img {
			float: none;
			img {
				width:100%;
			}
		}
		h2 {
			@include font-size-em(14);
			padding: 15px 12px 0;
		}
		p {
			padding: 0 12px;
		}
	}
}



