.container--nav-footer {
	float: left;
	min-width: 420px;
}

.nav--footer {
	@include font-size-em(12);
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1.5em;
	ul.menu {
		display: inline;
	}
	a {
		text-decoration: none;
	}
}

// Main menu
.nav--main.nav--footer {
	a,
	a.active {
		color: #fff;
		&:hover {
			color: $cyan;
		}
	}
}

// Secondary menu
.nav--secondary.nav--footer {
	a,
	a.active {
		color: #999999;
		&:hover {
			color: $cyan;
		}
	}
	> ul.menu li.first {
		padding-left: 14px;
	}
	.menu--mtvstyle {
		padding-left: 0; //need to make this work without the number as this changes on every rebuild
		clear: left;
	}
}

// Nav footer extra
.nav--footer-extra {
	float: left;
	padding: 0 2% 0 0;
	width: 13%;
	> ul.menu {
		@include font-size-em(11);
		margin: 0;
		padding: 0;
		line-height: 1.3em;
		li {
			margin: 10px 0;
		}
		@include no-bullets;
	}
	a,
	a.active {
		color: #b3b3b3;
		text-decoration: none;
		&:hover {
			color: $cyan;
		}
	}
}

.footer-extra-title {
	@include font-size-em(11);
	margin: 0;
	padding: 0;
	color: #666666;
	text-transform: uppercase;
	font-weight: bold;
}