// Overlay bg image
.overlay-bulletin-large {
	background: url(../images/backgrounds/bg-news-bulletin.jpg) no-repeat center center;
	height: 215px;
	width: 100%;
	a {
		&:hover {
			.overlay-play-large {
				@include retina-sprite(icon-video-play-mahoosive--hover);
			}
		}
	}
}

// Default display
.news-bulletin--default {
	position: relative;
	float: left;
	margin: 70px 0 30px;
	width: 392px;
	&,
	article {
		background: $deep-purple;
	}
	article {
		padding: 0 0 48px;
	}
	.wequest-video-embed {
		background: #000;
		padding: 8px 0;
	}
	.wequest-video-player {
		div {
			width: 392px;
			height: 235px;
		}
	}
	h2 {
		margin: -40px 0 24px;
	}
}

.news-bulletin-presenter {
	position: absolute;
	top: -70px;
	left: 5px;
}

// Mobile display
.news-bulletin--mobile {
	clear: both;
	h2 {
		margin: 0;
	}
	.overlay-bulletin-large {
		height: 110px;
	}
	.wequest-video-player {
		div {
			width: 100%;
			height: 110px;
		}
	}
}

// ?
.front-news {
	width:326px;
	margin-left:-20px;
}
