// Node image
.node-img {
	float: right;
	margin: 5px 0 20px 20px;
}

.node-img--mobile {
	float: left;
	margin: 5px 10px 10px 0;
}

// Article type
.article-type--news {
  @include retina-sprite(logo-mtv-news, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x); 
	display: block;
	float: right;
	margin:10px 0 0;
	width: 75px;
	height: 59px;
	text-indent: -9999em;
}

// News page title
body.page-news .default-layout {
	padding-top: 24px;
}

// News landing page
body.page-news .l-content-footer {
	border-top: 1px dotted #000;
}

// Shows landing page
body.page-subject {
	.pane-page-title h1,
	.pane-showmenu h2.pane-title {
		@include font-size-em(26);
		@include font-stack-futura-bold-oblique;
		color: $purple;
		margin: 10px 0;
	}
}

// Homepage TODO: Add these in better, was thinking about a region style but this won't work with the current grid system using margins (there'll be gaps in the border)
body.front .l-row-content {
	border-bottom: 4px solid lightgray;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
