.site-name { // reset
	left: 15px; // the same as the padding
	margin: 0;
	position: absolute;
  top: 9px;
}

.site-name-link {
  text-decoration: none;
}

.container--header {
	float: left;
	width: 100%;
	.container-inner {
		padding: 0 0 0 110px; // Clear the logo
	}
}