.social-circle-icon {
  display: block;
  padding: 3px 0 3px 29px;
  background-repeat:no-repeat;
}

// Social circle facebook
.social-circle-icon--fb {
  @include retina-sprite(icon-social-facebook-round);
}

// Social circle twitter
.social-circle-icon--twitter {
  @include retina-sprite(icon-social-twitter-round);
}

// Social circle google+
.social-circle-icon--google {
  @include retina-sprite(icon-social-googleplus-round);
}

// Social circle tumblr
.social-circle-icon--tumblr {
  @include retina-sprite(icon-social-tumblr-round);
}
