.social-icon {
	display: block;
}

.social-icon--fb {
  @include retina-sprite(icon-social-facebook-square);
	@include hide-text;
	width:17px;
	height:17px;
}

.social-icon--twitter {
  @include retina-sprite(icon-social-twitter-square);
	@include hide-text;
	width:17px;
	height:17px;
}