.space {
  margin: 20px 0; 
}

// Top
.space--top {
  margin-top: 20px;
}

// Bottom
.space--bottom {
  margin-bottom: 20px;
}

.space--bottom-double {
	margin-bottom: 40px;
}

// Right
.space--right-small {
	margin-right: 5px;
}