.teaser-list {
	clear: both;
	article {
		a {
			display: block;
			color: #000;
			&:hover h2 {
				color: $link-hover-color;
			}
			&:hover p {
				color: $deep-purple;
			}
		}
		h2 {
			@include font-size-em(16);
			overflow: hidden;
			margin: 7px 0;
			line-height: 1.2em; // stops the text wrapping around the image
			word-wrap: break-word; // works with overflow hidden to ensure text remains visible
		}
		p {
			@include font-size-em(12);
			overflow: hidden;
			margin: 0;
			line-height: 1.35em; // stops the text wrapping around the image
		}
		.content-list-img {
			float: none;
			margin: 0 0 5px;
		}
	}
}

.teaser-list-logo {
	margin: 0 0 30px;
}

// Blogs
.teaser-list--blogs {
	@include clearfix;
	margin: 30px 0;
	padding: 0 0 20px;
	border-bottom: 1px dotted #000;
}