.tune-in {
  float: right;
  width: auto;
  .logo-tune-in {
    @include retina-sprite(logo-mtv-black-large, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x); 
    float: left;
    width: 65px;
    height: 52px;
  }
  .logo-mtv-base {
	  @include retina-sprite(logo-epg-mtv-base, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
  }
  .logo-mtv-rocks {
	  @include retina-sprite(logo-epg-mtv-rocks, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
  }
  .logo-mtv-dance {
	  @include retina-sprite(logo-epg-mtv-dance, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
  }
  .logo-mtv-live {
	  @include retina-sprite(logo-epg-mtv-live, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
  }
  .logo-mtv-classic {
	  @include retina-sprite(logo-epg-mtv-classic, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
  }
  .logo-vh1 {
	  @include retina-sprite(logo-epg-vh1, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
  }
  .logo-mtv-music {
	  @include retina-sprite(logo-epg-mtv-music, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
  }
  .logo-mtv-hits {
	  @include retina-sprite(logo-epg-mtv-hits, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
  }
  .logo-mtv-plus,
  .logo-mtv--1 {
	  @include retina-sprite(logo-epg-mtv-plus, $sprites: $logos-sprites, $sprites2x: $logos-sprites2x);
  }
}

.chart-hat-tune-in {
  position: relative;
  margin: 40px 0 0;
  width: 212px;
  font-family: $mtv-pharma-bold-condensed;
  .hat-channels {
    @include font-size-em(13);
    float: left;
    margin: 0 0 2px 70px;
    padding: 0;
    width: 212px;
    color: #aa96aa;
    list-style: none;
    line-height: 1;
    li {
      float: left;
      margin: 0 8px 0 0;
    }
  }
  .hat-date-time,
  .hat-message {
    @include horizontal-gradient-three(#fff200, #28f03c, #28f0f0);
    float: left;
    margin: 1px 0 0 5px;
    padding: 0 6px;
    width: 130px;
    height: 18px;
    border-radius: 3px;
    line-height: 20px;
    @include font-size-em(15);
  }
  .hat-message {
    @include horizontal-gradient-two(#b19eb1, #ede9ed);
    margin-top: 3px;
    color: #fff;
  }
  .hat-speech {
    position: absolute;
    right: 115px;
    bottom: 3px; /*-9px*/
    width: 0;
    height: 0;
    border-width: 9px 5px 0;
    border-style: solid;
    border-color: #baa9ba transparent transparent transparent;
  }
}

