// Video list modal
.video-list--modal {
	@include row-full(12);
	clear: both;
	.video-list-item {
		padding: 15px 30px 15px 15px; /* Don't let the text touch the quicklist icon */
	}
	.video-list-info {
		margin: 0 20px 0 1px;
	}
	&.playlist-list {
		.video-list-info {
			margin: 0 20px 0 1px;
		}
	}
	.video-list-number {
		margin-right: 25px;
	}
}