// Video list teaser
.video-list--teaser {
	@include box-sizing;
	padding: 0 10px;
	ul {
		@include border-bottom(2px, solid, $light-purple);
		border-top: 4px solid #000;
	}
	.video-list-number {
		margin-right: 10px;
	}
	.video-list-details {
		/* padding-top: 5px; */
	}
	.video-list-name {
		@include font-size-em(12);
		margin: 3px 0 0;
		line-height: 1.3em;
	}
	> p {
		margin: 0.8em 0 40px;
	}
	.chart-list-position {
		display:none;
	}
}

.video-list-teaser-header {
	&,
	& .teaser-header-logo,
	& img {
		border-radius: 20px 20px 0 0;
	}
	.teaser-header-logo,
	img {
		width: 100%;
		height: auto;
		text-align: center;
	}
}