// Video list - Purple
.video-list--purple {
	li {
		&.active .video-list-item {
			@include horizontal-gradient-two(#544154, #130e13);
			.video-list-number {
				color: #fff;
			}
			
			.video-list-title {
				color: $lighter-purple;
			}
			.chart-list-position--none,
			.chart-list-position--up {
      @include retina-sprite(icon-video-position-up--hover);
			}
			.chart-list-position--down {
      @include retina-sprite(icon-video-position-down--hover);
			}
			.chart-list-position--flat {
      @include retina-sprite(icon-video-position-same--hover);
			}
			.chart-list-position--new {
      @include retina-sprite(icon-video-position-new--hover);
			}

		}
	}
	.video-list-item {
		@include vertical-gradient-two(#110e12, #1d151d);
		border-bottom: 1px dotted #404040;
		color: $colour-video-main;
		&:hover {
			background: #000;
		}
	}
	.video-list-name {
		color: $colour-video-secondary;	
		line-height:1.2em;
		padding-top:3px;
	}
}